/* Import the new font families from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Qwigley&family=Raleway:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Default background (light mode) */
  background-color: #283c86;
  background-image: linear-gradient(to right top, #283c86, #45a247);
  
  /* Set the default font to Raleway */
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  transition: background-image 0.5s ease-in-out;
}

.dark body {
  /* New gradient background for dark mode */
  background-color: #0f0c29;
  background-image: linear-gradient(to right top, #0f0c29, #302b63, #24243e);
}

